<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/questionnaire.css">

    <title>Questionnaire</title>
</head>
<body>

    <div class="container" ng-app="app" ng-controller="questionnaire">

        <div class="row hidden-lg hidden-md" >
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-success"
                         role="progressbar" aria-valuenow="{{getProgressPercentage()}}" aria-valuemin="0"
                         aria-valuemax="100" ng-style="{width : ( getProgressPercentage() + '%' ) }">
                        <span class="sr-only">{{getPercentage()}}% Complete</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 visible-lg-block visible-md-block ">
                <h2>Progress</h2>
                <div ng-repeat="stage in stages">
                    <h4>{{stage.name}}</h4>
                    <ul class="list-unstyled">
                        <li ng-repeat="category in categories"
                            ng-class="{
                            'done': isComplete(stage.id, category.id),
                            'skipped' : (!isComplete(stage.id, category.id) && calcPage($parent.$index, $index) < currentPage())
                            }" ng-click="goto($parent.$index, $index)">
                            <i class="fa "
                               ng-class="{
                               'fa-circle-o': (!isComplete(stage.id, category.id) && calcPage($parent.$index, $index) >= currentPage()),
                               'fa-warning': (!isComplete(stage.id, category.id) && calcPage($parent.$index, $index) < currentPage()),
                               'fa-check-circle-o': isComplete(stage.id, category.id),
                                }"></i>
                                {{category.name}}
                        </li>
                    </ul>
                </div>

                <button ng-click="gotoResults()" class="btn btn-primary">Results</button>

            </div>
            <div class="col-md-9">
                <section ng-repeat="stage in stages" ng-show="currentStage==$index">
                    <h1>{{stage.name}}</h1>
                    <div ng-repeat="category in categories"  ng-show="currentCategory==$index">
                        <h3>{{category.name}}</h3>
                        <table class="table table-condensed category-questions">
                            <thead>
                            <tr ng-repeat="question in questions | filter:{s:stage.id,c:category.id}">
                                <td>{{question.t}}</td>
                                <td class="question-answer-col">
                                    <label>
                                        <input type="radio" data-ng-model="question.a" data-ng-value="1" /> True
                                    </label>
                                </td>
                                <td class="question-answer-col">
                                    <label>
                                        <input type="radio" data-ng-model="question.a" data-ng-value="0" /> False
                                    </label>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>

                </section>
                <section ng-show="onResultsPage()" >
                    <h2>Results</h2>
                    <h3>Total True Answers</h3>
                    <ul>
                        <li ng-repeat="stage in stages" >{{stage.name}}: {{totalTrueInStage(stage.id)}}</li>
                    </ul>
                    <h3>Boosters</h3>
                    <div ng-repeat="stage in stages" class="col-md-6">
                        <h4>{{stage.name}}</h4>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th ng-repeat="range in ranges" ng-if="totalTrueInStage(stage.id)<=range.to&&totalTrueInStage(stage.id)>=range.from">{{range.name}} ({{range.from}} - {{range.to}})</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="recommendation in recommendations | filter:{s:stage.id}" >
                                <!-- NOT TOO HAPPY WITH THIS BIT -->
                                <td ng-repeat="range in ranges" ng-if="totalTrueInStage(stage.id)<=range.to&&totalTrueInStage(stage.id)>=range.from"><a href="{{recommendation.dose[$index].l}}" target="_blank">{{recommendation.name}}</a></td>
                                <td ng-repeat="range in ranges" ng-if="totalTrueInStage(stage.id)<=range.to&&totalTrueInStage(stage.id)>=range.from">{{recommendation.dose[$index].v}} {{recommendation.unit}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>

                <button ng-click="previousPage()" ng-hide="currentPage() == 1" class="btn">Prev</button> <button ng-click="nextPage()" ng-hide="onResultsPage()" class="btn btn-primary">Next</button>
            </div>

        </div>

    </div>


    <!--<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="scripts/questionnaire.js" ></script>
</body>
</html>